/* CSS Document */
 .box ul,.box ol,.box li,.box dl,.box dt,.box dd,.box div,.box h3,.box h1,.box h2,.box h4,.box h5,.box h6,.box blockquote,.box table, .box th,.box td,.box em,.box form,.box  img,.box  p,.box fieldset,.box  strong,.box  label
{
    margin:0;
    padding: 0;
    border: 0;
}

.box ul, .box ol, .box li
{
    list-style: none;
}

.box
{
    width: 312px;
    margin: 0px auto 22px 0px;
    text-align: left;
    float:left;
    position:relative;
    left:-60px;
    z-index:999;
}
.allsort
{
    z-index: 99;
    background-image:url("../../../Images/System/frontend/site_master/nav-bg.png");
    background-repeat:no-repeat;
    float: left;
    width:340px;
    /*width: 211px;*/
    margin-right: 4px;
    height: 50px;
    /*    position:relative;
    left:-60px;*/
}

.allsort:hover
{
    background-image:url("../../../Images/System/frontend/site_master/nav-bg-arrow.png");
    background-repeat:no-repeat;
}
.allsort .mt
{
    padding-right: 12px;
    padding-left: 86px;
    padding-bottom: 12px;
    cursor: pointer;
    line-height: 16px;
    padding-top: 14px;
    height: 16px;
    letter-spacing: 0.5mm;
}
.allsort .mt STRONG
{
    font-size: 16px;
    color: white;
}
#o-search .allsort .mt A
{
    color: #363636;
}
.allsort .mt .extra
{
    display: none;
}
.allsort .mc
{
    border-right: #7aa42e 1px solid;
    padding-right: 3px;
    border-top: #7aa42e 0px solid;
    padding-left: 3px;
    padding-bottom: 10px;
    background: white;
    overflow: visible;
    border-left: #7aa42e 1px solid;
    /*width: 263px;*/
    width: 255px;
    padding-top: 8px;
    border-bottom: #7aa42e 1px solid;
    position: absolute;
    /*top: 45px;*/
    top: 42px;
    /*left:20px;*/
    left:35px;
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    visibility:hidden;

}
.allsort .item
{
    border-top:1px dashed #f2f2f2;
    width: 253px;
    _width: 253px;
    _overflow:hidden;
    height: 30px;
}

.item:hover
{
    border-top:1px solid #fff;
}

.item a:link
{
    text-decoration:none !important;
}

.item a:visited
{
    text-decoration:none !important;
}

.item a:hover
{
    text-decoration:underline !important;
}

.allsort .fore
{
    border-top-style: none;
}
.allsort SPAN
{
    display: block;
    z-index: 1;
    /*width: 203px;*/
    width: 263px;
    position: relative;
    font-size:11px;
}
.allsort H3
{
    border-right: #fef8ef 0px solid;
    padding-left: 6px;
    font-weight: normal;
    width: 214px;
    height: 30px;
}

.allsort h3 img
{
    float:left;
    width:45px;
    height:30px;
    margin-right:10px;
}

.allsort H3 A:link
{
    display: block;
    color: #363636;
    line-height: 30px;
    height: 30px;
    float:left;
}
.allsort H3 A:visited
{
    display: block;
    color: #363636;
    line-height: 30px;
    height: 30px;
}
.allsort H3 A:hover
{
    color: #363636;
}
.allsort H3 A:active
{
    color: #363636;
}
.allsort S
{
    display: block;
    background: url(../images/produce_list_arrow_right.png) no-repeat;
    left: 222px;
    width: 13px;
    position: absolute;
    top: 10px;
    height: 13px;
}
.allsort .item .i-mc
{
    border:1px solid #7aa42e;
    background: white;
    overflow: hidden;
    width: 506px;
    position:relative;
    top: -32px;
    left: 220px;
    display: none;
}
.allsort .item DT
{
    padding-right: 6px;
    padding-left: 0px;
    font-weight: bold;
    padding-bottom: 0px;
    padding-top: 3px;
}
.allsort .item DD
{
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    overflow: hidden;
    padding-top: 3px;
    zoom: 1;
}

.allsort .item DD a:link
{
    font-style:normal !important;
    text-decoration:none;
}

.allsort .item DD a:hover
{
    text-decoration:underline;
}

.allsort .subitem
{
    padding-right: 4px;
    padding-left: 8px;
    /*min-height: 340px;*/
    float: left;
    padding-bottom: 20px;
    width: 484px;
    padding-top: 10px;
}
.allsort .subitem DL
{
    padding-right: 0px;
    border-top: #f2f2f2 1px solid;
    padding-left: 0px;
    padding-bottom: 6px;
    overflow: hidden;
    padding-top: 6px;
    zoom: 1;
}
.allsort .subitem .fore
{
    border-top-style: none;
}
.allsort .subitem DT
{
    float: left;
    width: 74px;
    line-height: 22px;
    text-align: right;
}
.allsort .subitem DT A
{
    color: #8b0e04;
}
.allsort .subitem DD
{
    float: left;
    width: 400px;
}
.allsort .subitem DD A
{
    border-left: #ccc 1px solid;
    padding: 0 8px;
    margin-bottom: 5PX;
    text-decoration:underline;
    display: inline-block;
    line-height: 20PX;
}

.allsort .subitem .viewall
{
    float:right;
}

.allsort .fr
{
    background: #fff;
    margin-bottom: -2000px;
    padding-bottom: 2010px;
    width: 176px;
}
.allsort .fr DL
{
    padding-bottom: 0px;
}
#o-search .allsort .fr A
{
    color: #666;
}
.allsort .brands
{
    padding-right: 8px;
    padding-left: 8px;
    padding-bottom: 6px;
    width: 160px;
    padding-top: 6px;
}
.allsort .brands EM
{
    float: left;
    width: 80px;
}
.allsort .brands DD
{
    line-height: 20px;
    padding-top: 6px;
}
.allsort .promotion
{
    padding-right: 8px;
    padding-left: 8px;
    padding-bottom: 6px;
    width: 160px;
    padding-top: 6px;
}
.allsort .promotion DD
{
    line-height: 20px;
    padding-top: 6px;
}
.allsort .mc .extra
{
    padding-right: 8px;
    border-top: #fde6d2 1px solid;
    padding-left: 8px;
    /*background: #fdf1de;*/
    background: white;
    padding-bottom: 7px;
    padding-top: 7px;
}
#o-search .allsort .mc .extra A
{
    color: #c00;
}
.allsorthover
{
    /*background-position: 0px -166px;*/
}
.allsorthover .mt .extra
{
    background-position: -274px -190px;
}
.allsorthover .mc
{
    display: block;
}
.allsort .hover SPAN
{
    z-index: 13;
    width: 160px;
}
.allsort .hover H3
{
    background-color:white;
    border-right: #7aa42e 0px solid;
    border-top: #7aa42e 1px solid;
    border-left: #7aa42e 1px solid;
    border-bottom: #7aa42e 1px solid;
    font-weight: bold;
    overflow: hidden;

}
.allsort .hover S
{
    display: none;
}
.allsort .hover .i-mc
{
    display: block;
    z-index: 12;
}
* HTML .allsort .item DD
{
    padding-bottom: 6px;
}
